<!-- Hamburger Menu -->
<!-- Template from following codepen: https://codepen.io/Zeeslag/pen/MWpLoKX -->

<nav class="px-2 sm:px-4 py-6 w-full max-w-4xl mx-auto">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a class="text-4xl font-bold leading-none justify-start lowercase" href="#"
      >GLIST
    </a>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <div class="lg:hidden justify-end">
        <button class="navbar-burger flex text-sky-800 p-3">
          <i class="fa-solid fa-bars text-2xl"></i>
        </button>
      </div>

      <div class="text-sky-800 text-2xl">
        <ul class="hidden transform lg:flex">
          <!-- Placeholder Link for Export Data link -->
          <!-- <li><button class="mr-8 uppercase  hover:text-cyan-600" >Export Data</button></li> -->
          <li>
            <a
              href="/signout"
              class="uppercase hover:text-cyan-600"
              id="sign-out"
              >Sign Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav
    class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
  >
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">GLIST </a>
      <button class="navbar-close">
        <i class="fa-solid fa-xmark text-2xl"></i>
      </button>
    </div>
    <div>
      <ul>
        <li class="mb-1">
          <a
            a
            href="/signout"
            class="block p-4 text-2xl font-semibold text-gray-400 hover:bg-blue-50 hover:text-cyan-600 rounded"
            id="sign-out-hamburger"
            >Sign Out</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
