<!-- Bottom footer with contact links-->
<footer class="bottom-0 w-full text-center bg-gray-200 text-gray-600">
  <div class="flex justify-center items-center p-2 border-b border-gray-300">
    <div class="flex justify-center items-center p-2">
      <!-- User Access Logging  -->
      <div class="text-base italic text-sky-800">
        {% if user_data %}
        <p>
          You are logged in under the account:
          <span class="text-cyan-600">{{ user_data['email'] }}</span>
        </p>

        <p>
          {% for time in times %} The last activity from this account was at
          <span class="text-cyan-600">{{ time['timestamp'] }} </span> {% endfor
          %}
        </p>

        {% elif error_message %}
        <p>Error: {{ error_message }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Attributions  -->
  <div
    class="text-xl flex justify-center items-center p-2 border-b border-gray-300"
  >
    <p>
      Design and code by
      <a
        class="text-cyan-600 hover:text-sky-800"
        href=" https://github.com/eoinlarkin/ "
        target=" _blank "
        rel=" noopener "
        >Eoin Larkin</a
      >
    </p>
  </div>
</footer>
