
       <!--    Add Item Form -->
       <div>
           <div class="">
               <div class="flex flex-row justify-center items-center mb-4">
                   <form action="{{ url_for('add_glist_item') }}" method="post" class="max-w-xs md:max-w-lg">
                       <div class="flex items-center border-b border-cyan-600 py-1">
                           <input
                               class="appearance-none bg-transparent border-none w-full text-gray-700 mr-1 md:mr-3 py-1 px-2 leading-tight focus:outline-none text-xs md:text-xl"
                               type="text" placeholder="I'm feeling lucky" aria-label="shopping-item" name="content" maxlength="15">
                           <button
                               class="flex-shrink-0 bg-cyan-600 hover:bg-sky-800 border-cyan-600 hover:border-sky-800  border-4 text-white py-1 px-1 rounded text-xs md:text-xl"
                               type="submit">
                               Add to List
                           </button>
                       </div>
                   </form>
                   <form action="{{ url_for('clear_glist') }}" method="post" class="ml-1 md:ml-4 max-w-xs md:max-w-md">
                       <div class="flex items-center border-b border-cyan-600 py-1">
                           <button
                               class="flex-shrink-0 bg-cyan-600 hover:bg-sky-800 border-cyan-600 hover:border-sky-800 border-4 text-white py-1 px-1 rounded text-xs md:text-xl"
                               type="submit">
                               Clear All
                           </button>
                       </div>
                   </form>

               </div>
           </div>
       </div>
       <!--    Display list -->
       <div class="overflow-x-auto relative grid place-items-center mt-10">
           <table class="w-full max-w-xs md:max-w-6xl text-lg md:text-3xl text-left text-sky-800">

               <thead class="text-xs md:text-3xl  text-cyan-600 lowercase bg-gray-200  ">
                   <tr>
                       <th colspan="4" class="py-3 px-1 text-center text-4xl text-sky-800 bg-gray-100">
                           Grocery List
                       </th>
                   </tr>

                   </tr>
                   <tr>


                       <th scope="col" class="py-1 md:py-3 px-2 md:px-6">
                           Item
                       </th>
                       <th scope="col" class="py-1 md:py-3 px-2 md:px-6 text-center">
                           Important
                       </th>
                       <th scope="col" class="py-1 md:py-3 px-2 md:px-6 text-center">
                           Done
                       </th>
                       <th scope="col" class="py-1 md:py-3 px-2 md:px-6 text-center">
                           Delete
                       </th>
                   </tr>


               </thead>
               {% if user_data %}
               {% for item in items %}
               <tbody>
                   <tr class="{% if 1 == item['done'] %} bg-yellow-200 {% else %} bg-white {% endif %} border-b">

                       <td scope="row" class="py-1 md:py-3 px-2 md:px-6 text-gray-900 whitespace-nowrap">
                           <span class="{% if 1 == item['done'] %} line-through {% endif %}">{{ item['item_name'] }}</span>
                       </td>
                       <td class="py-1 md:py-3 px-2 md:px-6">
                        <a href="{{ url_for('update_important_status', item_id=item.key.id) }}" class=" hover:text-red-900">
                        {% if 1 == item['important'] %}
                        <i class="fa-solid fa-star text-lg md:text-2xl flex justify-center"></i>
                        {% else %}
                        <i class="fa-regular fa-star text-lg md:text-2xl flex justify-center"></i>
                        {% endif %}</a>
                    </td>
                       <td class="py-1 md:py-3 px-2 md:px-6">
                        <a href="{{ url_for('update_done_status', item_id=item.key.id) }}" class=" hover:text-red-900">
                        {% if 1 == item['done']  %}
                        <i class="fa-solid fa-square-check text-lg md:text-2xl flex justify-center"></i>
                        {% else %}
                        <i class="fa-regular fa-square text-lg md:text-2xl flex justify-center"></i>
                        {% endif %}</a>
                       </td>
                       <td class="py-1 md:py-3 px-2 md:px-6">
                           <a href="{{ url_for('delete_glist_item', item_id=item.key.id) }}" class=" hover:text-red-900">
                            <i class="fa-solid fa-trash text-lg md:text-2xl flex justify-center"></i>
                           </a>
                       </td>
                   </tr>

               </tbody>
               {% endfor %}
               {% endif %}
           </table>
       </div>

       </div>