       <!--    Add Item Form -->
       <div>
        <h2>Add Item Form</h2>
        
        <form action="{{ url_for('add_glist_item') }}" method="post">
          <div><textarea name="content" class="input-block-level" rows="3"></textarea></div>
          <div><input type="submit" class="" value="Add to List"></div>
        </form>
      </div>
  
              <!--    Display list -->
              <h2>Shopping List:</h2>
              {% if user_data %}
              <dl>
  
                <dd>
                  {% for item in items %}
                  <p>{{ item['item_name'] }}</p>
                  <p>{{ item.key.id }}</p>    
                  <p>{{ item.key }}</p>
                  <a href="{{ url_for('delete_glist_item', item_id=item.key.id) }}" 
                  class="">
                  Delete
                  </a> 
  
  
                  {% endfor %}
                </dd>
  
              {% endif %}
            </div>